body {
  background-color: #f2f3f5;
  position:relative
}

.page {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex-fill {
  flex: 1;
}

.flex-initial {
  flex: initial;
}

.border {
  border: solid 1px #e6e6e6;
}

.border-bottom {
  border-bottom: solid 1px #e6e6e6;
}

.bg-white {
  background-color: #fff;
}
